<ion-view view-title="BMI Calculator"> <ion-content
	class="padding">
<style>
.error-message {
	color: red;
}

input.ng-dirty.ng-invalid {
	border-color: red;
}

.goodBMI {
	color: green;
}

.badBMI {
	color: red;
}
</style>
<div class="list" ng-controller="BMICnrl">
	<form name="userInput" novalidate>
		<!-- <center>
	<h3>I am a <br/><br/>
	<input type="radio" ng-model="user.gender" value="Male" ng-change="hideBMI()"/>Male<br/><br/>    
	<input type="radio" ng-model="user.gender" value="Female" ng-change="hideBMI()"/>Female </h3><br/></center> -->
		<label class="item item-input item-floating-label"> <span
			class="input-label">Height</span> <input type="number"
			name="txtHeight" placeholder="Height" ng-model="txtHeight"
			ng-required="true" ng-pattern="/^\d*[\.]?\d+$/" ng-change="hideBMI()">
			<span class="error-message"
			ng-show="userInput.txtHeight.$dirty && userInput.txtHeight.$error.required">This
				is required field</span> <span class="error-message"
			ng-show="userInput.txtHeight.$dirty && userInput.txtHeight.$invalid && !userInput.txtHeight.$error.required">
				Height should contain numbers and at max one decimal point</span>
		</label> <label class="item item-input item-select">
			<div class="input-label">Height is in</div> <select
			ng-init="heightUnitList=heightUnits[0]" ng-model="heightUnitList"
			ng-options="heightUnit.label for heightUnit in heightUnits"
			ng-change="hideBMI()"></select>
		</label> <label class="item item-input item-floating-label"> <span
			class="input-label">Weight</span> <input type="number"
			name="txtWeight" placeholder="Weight" ng-model="txtWeight"
			ng-required="true" ng-pattern="/^\d*[\.]?\d+$/"
			ng-change="hideBMI()"><span class="error-message"
			ng-show="userInput.txtWeight.$dirty && userInput.txtWeight.$error.required">This
				is required field</span> <span class="error-message"
			ng-show="userInput.txtWeight.$dirty && userInput.txtWeight.$invalid && !userInput.txtWeight.$error.required">
				Weight should contain numbers and at max one decimal point</span>
		</label> <label class="item item-input item-select">
			<div class="input-label">Weight is in</div> <select
			ng-init="weightUnitList=weightUnits[0]" ng-model="weightUnitList"
			ng-options="weightUnit.label for weightUnit in weightUnits"
			ng-change="hideBMI()"></select>
		</label>
	</form>
	<!-- Place for BMI -->
	<div ng-show="isBMI">
		<br />
		<h3>
			<center>
				Your BMI is <span class="goodBMI" ng-show="goodBMI">{{BMI}}</span> <span
					class="badBMI" ng-hide="goodBMI">{{BMI}}</span><br /> <br /> BMI
				Categories: <br /> Underweight = <18.5<br /> Normal weight = 18.5
				– 24.9<br /> Overweight = 25 – 29.9<br /> Obesity = BMI of 30 or
				more
			</center>
		</h3>
		<br />
	</div>
	<!-- Place for BMI-->

	<div ng-conroller="BMICnrl">
		<button class="button button-block button-positive"
			on-tap="calculateBMI()">Calculate</button>
		<button class="button button-block button-positive"
			on-tap="resetForm()">Reset</button>
	</div>
</ion-content> </ion-view>
